@import url("../../../index.css");

$table-radius:22px;
$attempts-bg:#BDD1FF;
$disable:#787777;
$body:#E4F8F9;

.customTable{
    padding-top: 1.5rem;
    .name{
        font-weight: 500;
        white-space: nowrap;
        color:var(--dark-blue)
    }

    .attempts{
        background-color:$attempts-bg;
        font-weight: 700;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:12px
    }

    .customerId{
        font-weight: 700;
        color:var(--blue);
    }

    .loanType{
        text-transform: uppercase;
    }

    .icon_div{
        display: flex;
        justify-content: center;
        width: 100%;  
        .icon_img{
        width: 20px;
        height: 20px;
        img{
            width: 100%;
            object-fit: contain;
            cursor: pointer;
        }
      }
    }
   
    //Global ant design classes

    // Pagination
    :global(.ant-pagination){
        justify-content: center;
        margin: 0 !important;
        
        :global(.ant-pagination-prev),
        :global(.ant-pagination-next){
            color: var(--dark-blue);
            border: 0 solid var(--blue);
            background: var(--light-blue);
            height: 25px;
            min-width: 15px;
            border-radius: 0px;
            button{
                border-radius: 0px;
            }
        }
        :global(.ant-pagination-item){
            margin-right: 0;
            a{
                color:$disable;
                font-size: 0.9rem;
            }
        }
        :global(.ant-pagination-item-active){
            border:none;
           a{
                color:var(--dark-blue);
                font-size:1.2rem;
                padding: 0;
           }
        }
    }

    //Table container
    :global(.ant-table-container){
        // overflow-x: hidden;
        padding: 0 0.8rem;
        margin-bottom: 0.5rem;
        background: var(--light-green);
        border-start-start-radius: $table-radius;
        border-start-end-radius: $table-radius;

        // Table header
        :global(.ant-table-header){
            position: relative;
            margin: 0 auto;
            top: -21px;
            border-radius: $table-radius;
            box-shadow: 0px 4px 4px 0px #00000040;
            // overflow:scroll hidden;
        }

        // Table virtual body
        :global(.ant-table-tbody-virtual){
            margin-top: -8px;
        }

        &::before{
            box-shadow: none !important;
        }
    }

    // Table rows header 
    :global(.ant-table-thead >tr){
        th{
            border-start-end-radius:0 !important;
            background-color: var(--dark-blue);
            border-inline-end: none !important;
            color: white;
            border-bottom:none;
            white-space: nowrap;
            text-align: center;

            &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
                width: 0;
            }
        }
    }

    // Table body
    :global(.ant-table-tbody){
        // Body rows
        :global(.ant-table-row){           
        // Cols
        :global(.ant-table-cell){
            font-weight: 600;
            white-space: nowrap;
            text-align: center;
            border-bottom: 2px solid white; 

            &:global(.ant-table-cell-row-hover){
                background-color: $body;
            }

            &:global(.ant-table-cell-fix-right){
                border-bottom: none !important; 
           }
            &:global(.ant-table-cell-fix-right-first){
                border-left: 2px solid white;
              }
        }
        }
    }

    // Fixed Cols
    :global(.ant-table-cell-fix-right){
        background-color: $body;
   }
}